@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
<h2>Files</h2>
    <ul>
        @foreach (var folder in Model.Folder.Folders)
        {
            <li>
                <a href="@Url.Page("Index", new { folder = folder.FolderId })">@folder.Name</a>
                <a asp-page="Index" asp-route-folder="@Model.ParentFolderId" asp-route-subfolder="@folder.FolderId" asp-page-handler="Open">open</a>
            </li>
            @if (Model.FolderId != Guid.Empty && folder.FolderId == Model.FolderId) {
                <ul>
                    @foreach (var subfolder in Model.Subfolders) {
                        <li>
                            <a href="@Url.Page("Index", new { folder = subfolder.FolderId })">@subfolder.Name</a>
                        </li>
                    }
                </ul>
            }
        }
    </ul>
</div>